/* 1. Introduction */
.intro {
    padding-top: 100px;
    padding-bottom: 100px;
}

.intro .intro_ava .intro_ava_image {
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

.intro .intro_slogan {
    font-size: 15pt;
    padding-top: 20px;
}

/* 2. Portfolio */
.portfolio {
    padding-top: 100px;
    padding-bottom: 100px;
}

.portfolio .portfolio_content .portfolio_content_box {
    position: relative;
}

.portfolio .portfolio_content .portfolio_content_box .portfolio_content_box_image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.portfolio .portfolio_content .portfolio_content_box .portfolio_cover {
    display: none;
}

.portfolio .portfolio_content .portfolio_content_box:hover .portfolio_cover {
    background-color: aquamarine;
    top: 0;
    left: 0;
    opacity: 80%;
    display: block;
    position: absolute;
    cursor: grab;
}


/* 3.About */
.about {
    padding-top: 100px;
    padding-bottom: 100px;
}


.about .about_content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: justify;
    font-size: 15pt;
    padding-top: 20px;
}


.about .about_download {
    padding-top: 20px;
}

.about .about_download .about_download_button {
    height: 65px;
    width: 232px;
    background-color: green;
    border: 1px white solid;
    border-radius: 5px;
    font-size: 15pt;
    color: white;

}

.about .about_download .about_download_button:hover {
    background-color: white;
    color: black;
    cursor: grab;
}

/* Settings */
.bg_green {
    background-color: green;
}

.color_white {
    color: white;
}

.color_black {
    color: black;
}

.font_size_36 {
    font-size: 36px;
}

.font_size_40 {
    font-size: 40px;
}

.pt_20 {
    padding-top: 20px;
}

.pl_20 {
    padding-left: 20px;
}

.pr_20 {
    padding-right: 20px;
}

.pl_50 {
    padding-left: 50px;
}

.pr_50 {
    padding-right: 50px;
}

.icon {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

.icon .icon_line {
    border: 1px solid;
    width: 100px;
    border-radius: 15%;
}

.icon .icon_star {
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.layout_center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.plus{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
