/* 1. Introduction */
.intro .intro_ava .intro_ava_image {
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

.intro .intro_slogan {
    font-size: 15pt;
}

/* 2. Portfolio */
.portfolio .portfolio_content .portfolio_content_box {
    position: relative;
}

.box_child {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.portfolio .portfolio_content .portfolio_content_box .portfolio_cover {
    background-color: var(--bg-green);
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
}

.portfolio .portfolio_content .portfolio_content_box:hover .portfolio_cover {
    background-color: var(--bg-green);
    top: 0;
    left: 0;
    opacity: 90%;
    position: absolute;
    cursor: grab;
}


/* 3.About */
.about .about_content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: justify;
    font-size: 15pt;
}


.about .about_download .about_download_button {
    height: 65px;
    width: 232px;
    background-color: var(--bg-green);
    border: 1px white solid;
    border-radius: 5px;
    font-size: 15pt;
    color: white;

}

.about .about_download .about_download_button:hover {
    background-color: white;
    color: black;
    cursor: grab;
}